<header>
  <h3 class="title"><%= _("Report a DMCA Takedown Notice") %></h3>
  <p><%= _("If you have sent or received a DMCA takedown notice and want to submit it to our database, fill out the form below.") %></p>
  <p class="disclaimer"><%= _("Please do not include phone numbers, email addresses, personal name, or other private information other than those of the complainant.") %></p>
</header>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <h4><span><%= _("Step 1.") %></span> <%= _("Describe the Notice") %></h4>

    <p><%= _("Provide us with information about the DMCA takedown notice you <em>sent</em> or <em>received</em>.").html_safe %></p>
    <div class="body-wrapper left main">
      <%= form.input :type, as: :hidden %>
      <%=
        form.input :title, label_html: { data: {
          tooltip: _("If the notice you sent/received had a subject line, enter it here")
        }}
      %>
      <%= form.input :subject, label: _("Subject") %>
      <%= form.input :date_sent, label: _("Date sent"), as: :string, placeholder: "YYYY-MM-DD" %>
      <%= form.input :date_received, label: _("Date received"), as: :string, placeholder: "YYYY-MM-DD" %>
      <%= form.input :source, label: _("Sent via"), placeholder: _('Online form, Email, Postal mail, etc.') %>
      <%= form.input :tag_list, label: _("Tag list"), placeholder: _('movie, youtube, video, etc.') %>
      <%=
        form.input :topic_ids,
          label: _("Topics"),
          prompt: nil,
          collection: available_topics,
          input_html: { multiple: true }
        %>
      <%= form.input :language, label: _("Language"), collection: Language.all, label_method: :label, value_method: :code %>
      <%= form.input :jurisdiction_list, label: _("Jurisdiction"), placeholder: _('a list of countries - US, CA, etc.') %>
      <%=
        form.input :action_taken,
          label: _("Action taken"), 
          collection: Notice::VALID_ACTIONS,
          label_html: { data: {
            tooltip: _("Did the recipient of the notice take action in response?")
          }}
        %>
    </div>
    <div class="body-wrapper right attach">
      <%= form.input :body, label: _("Body") %>
      <%= form.simple_fields_for(:file_uploads) do |file_uploads_form| %>
        <%= file_uploads_form.input :file, label: _('Attach Notice') %>
        <a href="javascript:void(0);" id="add-another"><%= _("Attach another") %></a>
        <%= file_uploads_form.input :kind, as: :hidden %>
      <% end %>
    </div>
  </section>

  <section class="works">
    <h4><span><%= _("Step 2.") %></span> <%= _("Original Works in Question") %></h4>
    <p><%= _("Enter information about the original work(s) and allegedly infringing URL(s).") %></p>
    <div class="body-wrapper left">
      <%= form.simple_fields_for(:works) do |works_form| %>
        <%= works_form.simple_fields_for(:copyrighted_urls) do |urls_form| %>
          <%= urls_form.input :url, label: _("Original Work URL"), placeholder: "http://" %>
        <% end %>
        <%= works_form.simple_fields_for(:infringing_urls) do |urls_form| %>
          <%= urls_form.input :url, label: _("Allegedly Infringing URL"), placeholder: "http://" %>
        <% end %>
        <%= works_form.input :kind, label: _("Kind of Work"), placeholder: _("Movie, Music, Book") %>
      </div>
      <div class="body-wrapper right">
        <%= works_form.input :description, label: _("Description") %>
      </div>
    <% end %>
  </section>

  <% step_number = 3 %>
  <%= form.simple_fields_for(:entity_notice_roles) do |roles_form| %>
    <% role = roles_form.object.name.titleize %>
    <section class="role <%= role.downcase %>">
      <h4><span><%= _("Step %{step_number}.") % {:step_number => step_number} %></span> <%= role %> of the Notice</h4>
      <p>Enter information about the <b><%= role %></b> of the DMCA takedown notice.</p>
      <%= roles_form.input :name, as: :hidden %>
      <%= roles_form.simple_fields_for(:entity) do |entity_form| %>
        <div class="body-wrapper left required">
          <%= entity_form.input :name, label: _("Name") %>
          <%= entity_form.input :kind,
            label: "#{role} Type", prompt: nil, collection: Entity::KINDS %>
        </div>
        <div class="body-wrapper right optional">
          <%= entity_form.input :address_line_1, label: _("Address Line 1") %>
          <%= entity_form.input :address_line_2, label: _("Address Line 2") %>
          <%= entity_form.input :city, label: _("City") %>
          <%= entity_form.input :state, label: _("State"), maxlength: "2" %>
          <%= entity_form.input :zip, label: _("Zip Code") %>
          <%= entity_form.input :country_code, collection: iso_countries, label: _("Country") %>
          <%= entity_form.input :phone, label: _("Phone") %>
          <%= entity_form.input :email, label: _("Email") %>
          <%= entity_form.input :url, label: "#{role} URL" %>
        </div>
      <% end %>
    </section>
    <% step_number += 1 %>
  <% end %>

  <div class="buttons-wrapper">
    <%= form.submit _("Submit Notice"), :class => "submit" %>
  </div>
<% end %>
