<footer class="main">
  <div class="inner-wrapper">
    <span>&copy; 2015 ChillingEffects</span>
    <nav>
    <%= link_to _("License"), page_path("license") %> 
    <%= link_to _("Privacy"), page_path("privacy") %>
    <%= link_to _("Disclaimer"), page_path("disclaimer") %>
    <%= link_to _("Researchers"), page_path("researchers") %>
    <% if user_signed_in? %>
      <%= link_to _("Admin"), rails_admin_path %>
    <% else %>
      <%= link_to _("Sign In"), new_user_session_path %>
    <% end %>
    </nav>
  </div>
</footer>
